/* warm-pinctrl.dtsi - warm/sm4635 specific pinctrl states */

&tlmm {
	eldo9_pin {
		config {
			pins = "gpio1";
			function = "gpio";
			drive-strength = <2>;
			power-source = <0>;
			bias-disable;
			output-high;
		};
	};

	fs15xx_cmd_default {
		config {
			function = "gpio";
			pins = "gpio85";
			output-low;
			bias-disable;
			drive-strength = <8>;
		};
	};

	fs15xx_id_active {
		config {
			function = "gpio";
			pins = "gpio41";
			input-enable;
			bias-pull-up;
			drive-strength = <2>;
		};
	};

	fs15xx_id_default {
		config {
			function = "gpio";
			pins = "gpio41";
			input-enable;
			bias-pull-down;
			drive-strength = <2>;
		};
	};

	fs15xx_mod_default {
		config {
			function = "gpio";
			pins = "gpio40";
			output-low;
			bias-disable;
			drive-strength = <2>;
		};
	};

	sia81xx_gpio_L {
		config {
			function = "gpio";
			pins = "gpio85";
			bias-disable;
			drive-strength = <6>;
		};
	};

	sia81xx_gpio_id {
		config {
			function = "gpio";
			pins = "gpio41";
			bias-pull-up;
			drive-strength = <10>;
		};
	};

};

&pm7250b_gpios {
	display_panel_enn_default {
		config {
			drive-strength = <2>;
			power-source = <0>;
			bias-disable;
			output-high;
			input-disable;
			function = "normal";
			pins = "gpio4";
		};
	};

	display_panel_enp_default {
		config {
			drive-strength = <2>;
			power-source = <0>;
			bias-disable;
			output-high;
			input-disable;
			function = "normal";
			pins = "gpio3";
		};
	};

	lcd_backlight_ctrl {
		config {
			drive-strength = <2>;
			power-source = <0>;
			bias-disable;
			output-high;
			input-disable;
			function = "normal";
			pins = "gpio1";
		};
	};

};

